<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>    &lt;string&gt;en&lt;/string&gt;
    &lt;string&gt;en&lt;/string&gt;
</string>
		<string>    &lt;string&gt;pt-BR&lt;/string&gt;
</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>&lt;string&gt;Este app não coleta dados pessoais&lt;/string&gt;
</string>
	<key>CFBundleDisplayName</key>
	<string>&lt;string&gt;Agenda TAB&lt;/string&gt;
&lt;string&gt;Agenda TAB&lt;/string&gt;
&lt;string&gt;Agenda TAB&lt;/string&gt;
&lt;string&gt;Agenda TAB&lt;/string&gt;
</string>
</dict>
</plist>
